#references {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    animation: openMenu 1.6s forwards;
    background-color: black;
    padding: 8px;
    font-size: 18px;
    font-family: monospace;
}

#references a {
    color: chartreuse;
}

@keyframes openMenu {
    0%   {top: 0px; background: rgb(49, 47, 47); width: 0%; font-size: 0px; }
    50% { top:0px; background: black; width: 99%; font-size: 0px;}
    100% {top: 0px; background: black; width: 99%;}
}

#references .upside_span {
    position: relative;
    display: in;
    padding-left: 30px;
    padding-right: 30px;
}

.main_frame {
    color: rebeccapurple;
    font-size: 15cm;
}


