#left_block {
    width: fit-content;
    max-width: 21%;
}

#center_block {
    width: 39%;
    max-width: 39%;
}

#right_block {
    width: 39%;
    max-width: 39%;
}

.blocks {
    position: relative;
    display: block;
}

#examples_upside{
    padding: 5px;
    margin: 5px;

    font-size: x-large;
    font-style: oblique;
    color: rgb(0, 0, 0);
}

#examples_slider {
    height: 700px;
    width: inherit;

    display: block;

    padding: 5px;
    margin: 5px;
    overflow-y: scroll;

    border: 1ch;
    border-style: ridge;
    background-color: azure;
}

.example {
    width: auto;
    height: fit-content;
    display: block;
    position: relative;

    padding: 5px;

    font-size: large;
    font-style: normal;
    font-family: serif;
    font-weight: 100;

    border-bottom: 0.3ch;
    border-style: outset;

    cursor: grab;
}

.inspection_section {
    position: fixed;

    width: inherit;

    padding: 5px;
    padding-top: 30px;
}

.code_area {
    width: fit-content;
    height: inherit;
    resize: vertical;

    font-size: normal;
    font-family: 'Courier New', Courier, monospace;

    border-radius: 5px;
    border: 4px ridge rgb(255, 255, 255);
    box-shadow: 3px 3px 3px rgb(147, 147, 150);
}

#code_canvas {
    background-color: black;
    width: fit-content;
    height: fit-content;
}