#left_block {
    width: fit-content;
    max-width: 21%;
}

#center_block {
    width: 39%;
}

#right_block {
    width: 39%;
}

.blocks {
    position: relative;
    display: block;
}

#examples_upside{
    padding: 5px;
    margin: 5px;

    font-size: large;
    color: crimson;
    font-weight: 100;
}

#examples_slider {
    height: 500px;
    width: inherit;

    padding: 5px;
    margin: 5px;
    overflow-y: hidden;

    border: 1ch;
    border-style: ridge;
    background-color: azure;
}

.example {
    width: auto;
    height: fit-content;
    display: block;
    position: relative;

    padding: 5px;

    font-size: large;
    font-style: normal;
    font-family: serif;
    font-weight: 100;

    border-bottom: 0.3ch;
    border-style: outset;
}

.inspection_section {
    position: relative;

    width: inherit;

    padding: 5px;
    padding-top: 30px;
}

.inspection_section .code_area {
    width: auto;

}